
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.clearfix :after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.home,html,body,#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

.el-container, .layout-container {
  height: 100%;
}

.el-header {
  background-color: #ffffff;
  color: #333;
  text-align: left;
  line-height: 60px;
}

.el-aside {
  overflow: hidden;
  background: #2a5eff;
}

.el-main {
  background-color: #f2f3f7;
  color: #333;
}

.el-icon-arrow-down:before, .el-icon-arrow-right:before {
  color: #fff!important;
}

.el-submenu :hover {
  background-color: #2350e7!important;
}

.el-submenu .is-active {
  color: #dee1e6!important;
  background-color: #2350e7!important;
}

.hidden-span {
  color: #2a5eff;
}
