// desc 全局样式
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clearfix :after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.home, html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}

.home .content {
  //background-color: #ffffff; // !!! 要删掉的部分
  height: calc(100% - 24px);
}

.el-container, .layout-container {
  height: 100%;
}

/*
* todo It's top-bar's style
*/

.el-header {
  overflow: hidden;
  background-color: #ffffff;
  color: #333;
  text-align: left;
  line-height: 60px;
}

.el-aside {
  overflow: hidden;
  background: #2a5eff !important;
}

.el-main {
  background-color: #f2f3f7;
  color: #333;
  padding: 10px 30px 20px;
}

/*.el-icon-arrow-down:before, .el-icon-arrow-right:before {*/
/*  color: #fff!important;*/
/*}*/

.el-submenu :hover {
  background-color: #2350e7 !important;
}

.el-submenu .is-active {
  color: #dee1e6 !important;
  background-color: #2350e7 !important;
}

.hidden-span {
  color: #2a5eff;
}

/*
* todo It's el-dropdown's style
*/
.el-dropdown-link {
  cursor: pointer;
  color: #409EFF;
}

.el-icon-arrow-down {
  font-size: 12px;
}

/*
* todo It's side bar's style
*/
.el-aside .el-icon-arrow-down, .el-icon-arrow-right {
  color: white !important;
}

/*
* todo 面包屑的样式
*/
.bottom-bread {
  margin-top: 10px;
  width: 100%;
  height: 14px;

  .el-icon-arrow-right {
    color: #333 !important;
  }
}

.el-autocomplete .el-icon-search {
  margin-left: 6px !important;
}

/*
* 以下是 historyPage页面的样式
*/
.history-page {
}


//滚动条的宽度
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

//滚动条的滑块
::-webkit-scrollbar-thumb {
  background-color: #409EFF;
  border-radius: 5px;
}

// historyPage 头部
.tabs-view-container {
  overflow: hidden;
  white-space: nowrap;
  padding: 5px;
  //border-bottom: 1px solid #dfdfdf;

  .tags-view-item {
    .el-tag {
      margin: 0 3px;

      &:first-child {
        margin-left: 0;
      }
    }

    &.active {
      .el-tag {
        // 选中 tag 时的颜色
        background-color: #2a5eff;
        color: #fff;

        .el-icon-close {
          color: #fff;

        }

        &:before {
          position: relative;
          content: '';
          background: #fff;
          display: inline-block;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          margin-right: 2px;
        }
      }
    }
  }
}


.tabs-view-container:hover {
  cursor: pointer;
  overflow-x: auto;
}

.public-border {
  border: 1px solid red;
}

.public-bgc {
  position: relative;
  height: calc(100% - 10px);
  overflow: auto;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 100%;
  //height: 100%;
  background-color: #fff;
  margin-top: 10px;
  padding: 10px;

  .center-contain {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 99%;
  }
}
